body {
    background-color: #F1C7D5;
    text-align: center;
}

ul {
    list-style-type: none;
    text-decoration-line: none;
    text-decoration-color:
}

p {
    font-family: Arial, Helvetica, sans-serif;
}



img {
    border: none;
    width: 50%;
    min-width: 350px;
    max-width: 600px;
}
