body {
    background-color: #F1C7D5;
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

ul a {
    text-decoration: none;
    font-weight: bold;
    color: #B03E17;
}

ul a:hover {
    background-color: #B03E17;
    text-decoration-color: #F1C7D5;
    font-weight: bold;
    color: #F1C7D5;
    opacity: 0.7;
}

img {
    border: none;
    width: 40%;
    min-width: 350px;
    max-width: 600px;
}

h1 {
    font-family: 'Roboto Slab', serif, sans-serif;
    font-size: 27px;
    text-transform: uppercase;
}

p {
    font-family: Arial, 'Rokkitt', sans-serif;
}

p a {
  text-decoration: none;
  font-style: italic;
  color: #B03E17;
}

p a:hover {
    background-color: #B03E17;
    text-decoration-color: #F1C7D5;
    opacity: 0.7;
    color: #F1C7D5;
}


h2{
  font-family: 'Roboto Slab', serif, sans-serif;
  font-size: 20px;
  font-style: italic;
  text-transform: uppercase;
}

#joke p {
    font-family: Arial, 'Rokkitt', sans-serif;
}
