body {
    background-color: #F1C7D5;
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #B03E17;
}

a:hover {
    background-color: #B03E17;
    text-decoration-color: #F1C7D5;
    opacity: 0.7;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 27px;
    text-transform: uppercase;
}

p {
    font-family: Arial, 'Rokkitt', sans-serif;
}

p a {
  text-decoration: none;
  font-style: italic;
  color: #B03E17;
}

p a:hover {
    background-color: #B03E17;
    text-decoration-color: #F1C7D5;
    opacity: 0.7;
}

img {
    border: none;
    width: 50%;
    min-width: 350px;
    max-width: 600px;
}
