body {
    background-color: #05716c;
    text-align: center;
    margin: 0px;
}

#header {
  width: 100%;
  background-color: #1978a5;
  padding-top: 20px;
  padding-bottom: 20px;
}


h1 {
    font-family: 'Kreon', serif;
    font-size: 27px;
    text-transform: uppercase;
    color: white;
}


p {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

p a {
  text-decoration: none;
  font-style: italic;
  color: white;
  font-weight: bold;
}

p a:hover {
    background-color: white;
    opacity: 0.7;
    color: #1978a5;
}


img {
    border: none;
    width: 20%;
    min-width: 350px;
    max-width: 600px;
}

h2{
  font-family: 'Recursive', sans-serif;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}


.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  list-style-type: none;
  text-transform: uppercase;
  width: 100%;
  background-color: #05716c;
  padding: 20px;
  margin: 5px;
}

.nav a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-family: 'Recursive', sans-serif;
  font-weight: bold;
  color: white;
}

.nav a:hover {
  opacity: 0.7;
  background-color: white;
  font-weight: bold;
  color: #05716c;
  opacity: 0.7;
}

@media all and (max-width: 800px) {
  .nav {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .nav {
    flex-flow: column wrap;
    padding: 0;
  }
  .nav a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .nav li:last-of-type a {
    border-bottom: none;
  }
}

#first{
  background-color: #05716c;
  width: 140px;
  padding: 20px;
  margin: 5px;
}

#second{
  background-color: #05716c;
  width: 140px;
  padding: 20px;
  margin: 5px;
}
#third{
  background-color: #05716c;
  width: 140px;
  padding: 20px;
    margin: 5px;
}
#forth{
  background-color: #05716c;
  width: 140px;
  padding: 20px;
    margin: 5px;
}

#joke {
  width: 100%;
  padding-top: 20px;
  background-color: #1978a5;
  padding-bottom: 20px;
  margin: 0px;
}

#joke p {
  font-family: 'Open Sans', sans-serif;
}
